html
	head
		title Index Page222
		script(src="http://code.jquery.com/jquery-1.10.2.js")
		//jade에서는 줄바꿈을 다른 태그나 명령어로 인식한다. 만약 script나 다른 문자열을 줄바꿈을 해서 쓰고 싶으면 | 를 이용하여 연결한다.
		//$(document).ready(function() {alert("sfsafsfsafsad");}); 한줄로 쓴 예
		script-
			| $(document).ready(function() {
			|	alert("test");
			| });
	body
		//comment
		h1 Hello jade
		h2 Lorem ipsum
		hr
		-for(var i = 0 ; i<10 ; i++) {
			a(href='http://www.google.co.kr', data-test='multiple Attribute') Go To google
		
		-}